head
  meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
  title BThemer :: The Bootstrap theme composer
  link(href='bower_components/bootstrap/dist/css/bootstrap.min.css' rel='stylesheet' type='text/css' media='all')
  link(href='bower_components/fontawesome/css/font-awesome.min.css' rel='stylesheet' type='text/css' media='all')
  link(href='dist/style.css' rel='stylesheet' type='text/css' media='all')
  script(type='text/plain', id='raw_less')
   include ../../dist/bs_pack.less
  script(src='dist/app.js')
