//- index.jade
doctype html
html
  include ./lib/head.jade
  body(ng-cloak)
   #loader
   #left.panel.panel-default
    include ./lib/left.jade
   #preview
    #nav(ng-controller='NavUI')
     .panel.panel-default(ng-show='isNav')
      .panel-body
       include ./lib/nav.jade
     div#trigger
      a.btn.btn-default.btn-lg(ng-click='toggleSide()')
       i.fa(ng-class="{'fa-angle-double-left':!isSideHidden, 'fa-terminal':isSideHidden}")
      a.btn.btn-default.btn-lg(ng-click='isNav=!isNav')
       i.fa(ng-class="{'fa-bars':!isNav, 'fa-angle-double-up':isNav}")
    iframe#view(sandbox='allow-same-origin allow-scripts')
   script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-53876931-1', 'auto');
      ga('send', 'pageview');
