h4 Genral
p Interaction is simple. Just set the values you want and use some of the building ways to get the result. Error handling is there to help avoiding some common mistakes but should not be trusted blindly!
h4 Shortcuts
p
 kbd Shift
 |  - all shortcuts need Shift to be held.
p
 kbd + Enter
 |  - apply varibles to preview.
p
 kbd + R
 |  - reset to initial varibles values.